.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    font-size:3rem;
    text-align:center;
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
}
.btn-container {
    display:flex;
    justify-content:center;
}
.btn {
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
    padding:5px 15px;
    font-size:1.5em;
    border-radius:5px;
    background-color:white;
    box-shadow:3px 2px  
}    